* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.outer {
    display: flex;
    height: 800px;
    width: 850px;

    background-image: linear-gradient(270deg, #f0c2d1 0%, #98f3ef 100%);
    padding: 30px;
    margin: 80px  auto;
    align-items: center;
    justify-content: center;

}

.left {
    height: 700px;
    width: 45%;

    background-image: linear-gradient(270deg, #FFDEE9 0%, #B5FFFC 100%);
    margin: auto;
    padding: 40px;
    border-radius: 25px;
}

h3 {
    margin-top: 100px;

}



/* padding or */
h4 {
    display: flex;
    flex-direction: row;
}

h4:before,
h4:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid rgb(69, 60, 78);

    margin: auto;
}

h4:before {
    margin-right: 10px
}

h4:after {
    margin-left: 10px
}

/* or end */

.link {
    text-align: center;


}

.one {
    text-decoration: none;
}



.gbtn,
.fbtn {
    display: inline-block;

    position: relative;
    /* background-color: red; */

    width: 100%;
    font-size: 16px font-weight;
    height: 30px;
    border: none;
    border-radius: 12px;

}

span {
    display: inline-block;
    background: none;
    border: none;
    padding: 0px;
    margin: opx;



}

.hi {
    background-color: #04090f;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background: none; */
    border: none;

}

.right {
    height: 700px;
    width: 45%;
  
    background-image: linear-gradient(270deg, #FFDEE9 0%, #B5FFFC 100%);
    margin: auto;
    padding: 40px;
    border-radius: 25px;


}

/* ______________________________ */

/* right side css */

input {
    height: 40px;
    width: 100%;
    padding: 20px;
    border-radius: 25px;
    border: none;

}

#chk {
    height: 15px;
    width: 30px;
}

.btn1 {
    background-color: rgb(65, 36, 93);
    color: aliceblue;
    padding: none;
    border-radius: 25px;
    height: 40px;
    width: 100%;
    border: none;


}

.bottom {

    margin-top: 80px;
    text-align: center;
}

.bottom1 {

    margin-top: 192px;
    text-align: center;
}

.circle-icon {
    /* margin: auto; */
    background: #413131;
    /* padding: 0.4px; */
    border-radius: 50%;
    width: 24px;
    height: 22px;
    color: white;
   
    padding: 3px  ;

}